@import "../bootstrap/scss/bootstrap";

/* Propriétés générales */

/* Header */
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

/* Main - Accueil */
/* Section 1 Présentation de l'oeuvre */

/* Section 2 Images et Extraits */

/* Section 3 Présentation des acteurs */

/* Section 4 Faits */


/* Main - Tournage */
/* Section 1 Faits divers */

/* Section 2 Photos du tournage */

/* Section 3 Présentation de la direction artistique */

/* Footer */

/* Media queries */
@media screen and (min-width: 1200px) {
    /*body {
        background-color: red;
    }*/
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
  /*  body {
        background-color: red;
    }*/
}