@import "../bootstrap/scss/bootstrap";

/* Variables */
$noir: #000000;
$bleu-fonce: #14213D;
$jaune: #fca311;
$bleu-clair: #e5e5e5;
$blanc: #ffffff;


/* Propriétés générales */
body {
    font-family: 'Josefin Sans', sans-serif;
    color: $bleu-fonce;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant SC', serif;
}

a {
    color: $bleu-fonce;
    text-decoration: none;

    &:hover {
        color: $jaune;
    }
}

hr {
  border: 2px solid $jaune;
}

/* Header */
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-dark {
    --bs-navbar-hover-color: $jaune;
}

.bg--color {
    background-color: $bleu-clair;
    padding: 2rem 0;
}

/* Main - Accueil */
section {
    padding: 3rem 0;
}


/* ============= NOTE POUR LAURENT  =============
j'ai délibérement laissé des commentaires vides, je ne les considere pas comme code mort pour le devoir
car je veux que tu vois que j'ai bien construit mon code, et que je n'ai pas eu a utiliser de css pour ces parties-là */ 

/* Section 1 Présentation de l'oeuvre */

/* Section 2 Images et Extraits */
#section2 .video{
    width: 100%;
    height: 100%;
}

.ratio-16x9 {
    @include media-breakpoint-up(md) {
      --bs-aspect-ratio: 50%; // 2x1
    }
  }

/* Section 3 Présentation des acteurs */
.card {
    height: 100%;
}

i {
    color: #14213D;
}

/* Section 4 Faits */
#section4 iframe {
    width: 100%;
}

/* Main - Tournage */
/* Section 1 Faits divers */

/* Section 2 Scènes */

/* Section 3 Présentation de la direction artistique */

/* Footer */
footer {
    background-color: $noir;
    color: $blanc;
    padding: 2rem 0;

    & i {
        color: $blanc;
    }

    & a {
        color: $blanc;
        text-decoration: none;

        &:hover {
            color: $jaune;
        }
    }

    p {
        margin-block-end: 0;
    }
}

.d-flex {
    align-items: flex-end;
}

/* Media queries */
/*@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
}*/

@media screen and (max-width: 768px) {
      #section2 #video{
         display: none;
         visibility: hidden;
      }
  }
